#canvas {
}

#canvas-svg {
   position: fixed;
   top: -20px;
   right: 00px;
   bottom: 000px;
  background-color: transparent;

}


.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
}

#tooltip-container {
  position: absolute;
    max-width: 150px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    text-align: left;

}

.tooltip_key {
  font-weight: bold;
}

.tooltip_value {
  margin-right: 20px;
  float: right;
}

#legendLinear {

}
