#canvas2 {
}

#canvas2-svg {
   position: fixed;
   bottom:   0px;
   right: 180px;
   background-color: transparent;

}

.line {
    stroke: #ff5474;
    fill: none;
    stroke-width: 3;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 10px;
    font-family: sans-serif;
}

.text-label {
    font-size: 10px;
    font-family: sans-serif;
}

.dot {
    stroke: #0050A1;
    fill: #99ccff
}